<!DOCTYPE html>
<html>

<head>
  <title>Square with form</title>
</head>

<body>
  <h1>Calculate Monthly Payments</h1>
  <form action= "/payment/results">
    <label for="apr">APR:</label>
    <input id="apr" type="text" name="apr">

    <label for="years">Number of years:</label>
    <input id="years" type="text" name="years">

    <label for="pv">Principal:</label>
    <input id="pv" type="text" name="pv">

    <button>Calculate monthly payment</button>

  </form>
</body>

</html>
