<!DOCTYPE html>
<html>

<head>
  <title>Square with form</title>
</head>

<body>
  <h1>Monthly Payment Results</h1>
  <dl>
    <dt>
      Annual Percentage Rate:
    </dt>

    <dd>
      <%=@apr.to_fs(:percentage, {:precision => 4})%>
    </dd>

    <dt>
      Monthly Payments:
    </dt>

    <dd>
      <%=@the_result.to_fs(:currency)%>
    </dd>
  </dl>

  <a href="/payment/new">
    Calculate another Monthly Payment
  </a>

</body>

</html>
