<!DOCTYPE html>
<html>

<head>
  <title>Square with form</title>
</head>

<body>
  <h1>Generate a random number</h1>
  <form action= "/random/results">
    <label for="min_number">Enter a minimum number:</label>
    <input id="min_number" type="text" name="min_number">

    <label for="max_number">Enter a maximum number:</label>
    <input id="max_number" type="text" name="max_number">

    <button>Pick Random Number</button>

  </form>
</body>

</html>
